@import url("./my-normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Cuprum:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
* {
  box-sizing: border-box;
  font-family: "Cuprum", sans-serif !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.image-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.5;
  background: url("./images/background.jpg") no-repeat center center/cover;
}

.home {
  display: flex;
  flex-direction: column;
  height: -webkit-fill-available;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

h2,
h3 {
  font-size: 7rem;
  margin: 0 3rem;
  text-align: center;
}

h3 {
  font-size: 5rem;
}

.controls {
  padding: 1rem 2rem;
  background: white;
}
.oax-top-cont {
  flex-grow: 1;
}

.oax .oax-map-container,
.oax-part-flexviewpage,
.oax-part-flexview,
.oax-flexView-wrapper {
  height: 100%;
}
