.nav {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1rem 0;
  margin: 0;
}

.navLinkItem {
  list-style: none;
  font-size: 2rem;
  margin: auto;
  cursor: pointer;
}

.navLink {
  color: unset;
  text-decoration: none;
}
